<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.mapper.MemberFaceMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.model.MemberFace" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="housingEstateId" property="housingEstateId" jdbcType="BIGINT" />
    <result column="housingEstateName" property="housingEstateName" jdbcType="VARCHAR" />
    <result column="memberId" property="memberId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="imgUrl" property="imgUrl" jdbcType="VARCHAR" />
    <result column="faceId" property="faceId" jdbcType="CHAR" />
    <result column="faceNo" property="faceNo" jdbcType="CHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateDate" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>